<mat-toolbar color="primary">
  <button mat-button>
    <mat-icon>sports_volleyball</mat-icon>
    Jeopardy
  </button>
  <span class="fill-space"></span>
  <div>
    <a class="toolbar-button" mat-button [routerLink]="'/register'"
       *ngIf="!authService.isAuthenticated()"> Register </a>
    <a class="toolbar-button" mat-raised-button [routerLink]="'/login'"
       *ngIf="!authService.isAuthenticated()"> Log in </a>
    <label class="toolbar-text">{{authService.getUserName()}}</label>
    <a class="toolbar-button" mat-raised-button (click)="logout()"
       *ngIf="authService.isAuthenticated()"> Log out </a>
  </div>

</mat-toolbar>
