<div class="centered">
  <mat-card-content>
    <form [formGroup]="registrationForm" class="registrationForm">
      <h1>Registration Form:</h1>
      <mat-form-field class="registrationField">
        <label>
          <input matInput placeholder="username ..." formControlName="userName">
        </label>
      </mat-form-field>

      <mat-form-field class="registrationField">
        <label>
          <input matInput placeholder="password ..." formControlName="password">
        </label>
        <mat-error *ngIf="password.invalid && password.touched">
          Password is too short(min 3)
        </mat-error>
      </mat-form-field>

      <mat-form-field class="registrationField">
        <label>
          <input matInput placeholder="confirm password ..." formControlName="confirmPassword">
        </label>
        <mat-error *ngIf="confirmPassword.invalid && confirmPassword.touched">
          Passwords does not match
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()"
            [disabled]="registrationForm.invalid" color="primary">
      REGISTER
    </button>
  </mat-card-actions>
</div>
